header
{
    background-image: url(../Imagenes/KSAOHUB2.jpg);
    height: 300px;
    width: 1405px;
}
body
{
    background-image: url(../Imagenes/Alters.jpg);
    background-attachment: fixed;
    background-position: center;
    color: rgb(255, 166, 0);
    text-align: justify;
}
header nav ul
{
    list-style: none; 
}
header nav ul li
{
    display: inline-block;
    margin: 17.5em 0em 0em 0em;
    padding: 0em 2em 0em 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header nav ul li a
{
    padding: 0em 3em 0em 3em;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
section img
{
    border-radius: 30%;
}
strong,h2,p,h3,th
{
    text-align: left;
}
table
{
    margin: 5em 0em 0em 0em;
}
#Ser
{
    float: left;
    width: 50%;
    font-size: 16px;
    font-style: italic;
}
.H1G
{
    font-size: 40px;
    text-align: center;
}
a
{
    text-decoration: none;
    color: rgb(0, 255, 0);
}
p
{
    font-size: 18px;
}
h1 
{
    text-align: center;
}
#snsp
{
    text-align: center;
}
#home
{
    margin-top:9em;
    color:rgb(255, 0, 255);
    font-style: italic;
    width: 50%;
    margin: auto;
}
#ExGen
{
    width: 50%;
    margin: auto;
    margin-top: 3em;
    font-size: 27px;

}
#Een
{
    margin: auto;
    font-size: 27px;
}
#right
{
    float: right;
}
#left
{
    float: left;
}
#Mtp
{
    Margin-top: 3em;
}
#headerright
{
    float: right;
}