.A
{
    height: 400px;
    width: 1405px;
}
.b
{
    height: 200px;
    width: 1405px;
}
section.w
{
    float: left;
}
section.am
{
    float: right;
}
.esp
{
    text-align: right;
    font-size: 20px;
}
.txt
{
    text-align: center;
}
body
{
    font-family: serif;
    font-style: oblique;
    color: black;
    background-image: url("https://static.zerochan.net/Lord.El-Melloi.II.Case.Files.-Rail.Zeppelin.Grace.note-.full.2512729.jpg" );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
}
header nav
{
    padding: 0em 0em 5em 0em; 
}
header nav ul
{
    list-style: none; 
}
header nav ul li
{
    display: inline-block;
    padding: 0em 1em 2em 1em;
}
header nav ul li a
{
    color: black;
    background: skyblue;
    padding: 0em 5em 0em 5em;
}
section img
{
    border-radius: 30%;
}
table
{
    border: 1px solid red;
}
.ports
{
    height: 400PX;
    width: 400PX;
}